/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald-v49-latin-regular.woff2") format("woff2"), url("../fonts/oswald-v49-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/oswald-v49-latin-700.woff2") format("woff2"), url("../fonts/oswald-v49-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  border: 1px solid red;
}

section {
  padding-bottom: 180px;
}

.header__container {
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 16px 174px 225px 120px;
  background-image: url(../../img/header-bg.svg);
}

.header_poz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 65px;
  padding-top: 9px;
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.header__item {
  margin-left: 53px;
}

.underlined {
  text-decoration: underline;
}

.header__content {
  margin-top: 130px;
  position: relative;
}

.header__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 495px;
}

.button {
  width: 27px;
  height: 16px;
  border-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../img/button__burger.svg);
  background-position: center;
  display: none;
}

.header__button {
  padding: 13px 43px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  background: #961914;
  border-radius: 8px;
}

.header__text {
  margin-top: 10px;
  margin-bottom: 25px;
  max-width: 371px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

@media only screen and (max-width: 1111px) {
  .header__container {
    max-width: 1111px;
    padding: 10px 24px 173px 24px;
    background-image: url(../../img/header-bg.svg);
  }
  .header__list {
    display: none;
  }
  .header__title {
    max-width: 338px;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  .button {
    display: block;
  }
}
@media only screen and (max-width: 519px) {
  .header__container {
    padding: 10px 24px 173px 24px;
    background-image: url(../../img/header-bg.svg);
  }
}
@media only screen and (max-width: 406px) {
  .header__container {
    padding: 10px 24px 173px 24px;
    background-image: url(../../img/header__mobile.svg);
  }
}
.hero__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__img {
  max-width: 588px;
}

.hero__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 584px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.inner__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.innerr__text {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  row-gap: 20px;
}

.ciycle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #961914;
  margin-right: 5px;
}

@media only screen and (max-width: 1198px) {
  .hero__img {
    max-width: 326px;
  }
  .hero__block {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .hero__title {
    max-width: 325px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .hero__text {
    max-width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434242;
  }
  .hero__list {
    margin-bottom: 40px;
  }
}
.barf__container {
  max-width: 1200px;
  background: #EAD1D0;
}

.ratsion__container {
  padding-top: 180px;
  max-width: 1240px;
  margin: 0 auto;
}

.ratsion__contetnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratsion__heading {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

.ratsion__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  max-width: 777px;
}

.ratsion__list {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratsion__item {
  max-width: 282px;
}

.ratsion_img {
  max-width: 282px;
  margin-bottom: 45px;
}

.ratsion__inner-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 4px;
}

.heading-bottom_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-bottom: 16px;
}

.ratsion__inner-text {
  max-width: 282px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 11px;
}

.ratsion__weight {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
}

.ratsion__link {
  margin-top: 24px;
  padding: 13px 42px;
  border: 1px solid #961914;
  border-radius: 8px;
  text-align: center;
  color: #961914;
  border: 1px solid #961914;
  border-radius: 8px;
}

.container__ras {
  margin-top: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1198px;
  background: #EAD1D0;
  padding: 50px 121px 52px 54px;
}

.raschitat__text {
  max-width: 705px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.raschitat__button {
  background: #961914;
  border-radius: 8px;
  padding: 13px 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 1172px) {
  .ratsion__heading {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin: 0 auto;
  }
  .ratsion__text {
    display: none;
  }
  .ratsion__list {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .ras {
    gap: 24px;
    padding-top: 108px;
  }
  .container__ras {
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
    flex-direction: column;
  }
  .taschitat__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    max-width: 282px;
  }
  .raschitat__button {
    margin-top: 24px;
    font-size: 16px;
  }
}
.pochemu__container {
  padding-top: 180px;
  max-width: 1240px;
  margin: 0 auto;
}

.pochemu__heading {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 57px;
}

.pochemu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pochemu__inner-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 8px;
}

.pochemu__inner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  max-width: 280px;
}

.pochemu__item:nth-child(1)::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url(../../img/Leaf.svg);
  margin-bottom: 16px;
}

.pochemu__item:nth-child(2)::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url(../../img/Heartbeat.svg);
  margin-bottom: 16px;
}

.pochemu__item:nth-child(3)::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url(../../img/PawPrint.svg);
  margin-bottom: 16px;
}

.pochemu__item:nth-child(4)::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url(../../img/Smiley.svg);
  margin-bottom: 16px;
}

@media only screen and (max-width: 1172px) {
  .pochemu__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #000000;
  }
  .pochemu__list {
    flex-direction: column;
  }
  .pochemu__item {
    margin-bottom: 40px;
  }
}
.lyubov {
  padding-top: 180px;
}

.lyubov__container {
  background: #FFF4F3;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lyubov__img-block {
  position: relative;
  max-width: 611px;
}

.lyubov__content {
  max-width: 523px;
  margin-left: 59px;
}

.lyubov__heading {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  max-width: 416px;
  margin-bottom: 40px;
}

.lyubov__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 520px;
  color: #434242;
}

@media only screen and (max-width: 1172px) {
  .lyubov__container {
    max-width: 775px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .lyubov__img-block {
    text-align: end;
    max-width: 362px;
    margin-top: 40px;
  }
  .lyubov__heading {
    font-size: 37px;
    max-width: 300px;
    margin-bottom: 24px;
  }
  .lyubov__text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 473px) {
  .lyubov__heading {
    font-size: 27px;
    max-width: 270px;
    margin-bottom: 24px;
  }
  .lyubov__text {
    font-size: 10px;
    max-width: 327px;
  }
  .lyubov__content {
    max-width: 300px;
  }
}/*# sourceMappingURL=main.css.map */